.signup-container{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url('https://i.postimg.cc/v89pgfcT/luke-miller-LZPt-GFF4sb-E-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}